# FastAPI & Server
fastapi==0.111.0
uvicorn==0.29.0
python-multipart==0.0.9
pydantic==2.7.1

# Hugging Face ML (Voice & Chat)
transformers==4.40.1
torch>=2.2.2
torchvision>=0.15.0
tf-keras

# Audio Processing (Voice)
# Audio Processing (Voice)
numpy==1.26.4
scipy==1.12.0
numba==0.59.1
librosa==0.10.1
soundfile
pydub

# Facial Expression (DeepFace)
deepface
opencv-python

#pip3 install -r requirements.txt
