# FastAPI & Server
fastapi==0.111.0
uvicorn==0.29.0
python-multipart==0.0.9
pydantic==2.7.1
requests

# Audio Processing
numpy==1.26.4
scipy==1.12.0
librosa==0.10.1
soundfile
pydub

# Facial Expression (DeepFace) - Keep local as it's harder to move to HF API easily
deepface
opencv-python
tf-keras
